/*!************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./menu/scss/menu.scss ***!
  \************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap);
/*!****************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./menu/scss/menu.scss (1) ***!
  \****************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200;300;400;500;600;700;800&display=swap);
/*!**************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/normalize.css/normalize.css ***!
  \**************************************************************************************************************************/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/*!****************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./menu/scss/menu.scss (2) ***!
  \****************************************************************************************************************************************************************************************************************************************************/
html {
  --mainColor: #ffc700;
  --contrastColorBlack: #080808;
  --contrastColorWhite: #fff;
  --transitionTime: 0;
}

@keyframes increase {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes reduction {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes leftToStatic {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes rightToStatic {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes topToStatic {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes bottomToStatic {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.anim-show {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transform: translateX(-100.1%);
  width: 100%;
  z-index: 98;
}

.anim-show1 {
  background: var(--mainColor);
  transition: var(--transitionTime);
  align-items: center;
  justify-content: center;
}

.anim-show2 {
  background: var(--contrastColorBlack);
  transition: var(--transitionTime);
}

.anim-show-active {
  transform: translateX(0%);
  transition: 0.7s ease;
}

.anim-show-close {
  animation: anim-show-close 1.2s forwards;
  z-index: 96;
}

@keyframes anim-show-close {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}
.anim-show-default {
  opacity: 0;
  transform: translateX(-100%);
  transition: 0s;
}

.anim-show1__text {
  animation: show1Text 0.6s forwards;
  animation-delay: 0.9s;
  color: transparent;
  font-size: 110px;
  letter-spacing: 12px;
  opacity: 0;
  position: absolute;
  text-align: center;
  -webkit-text-stroke: 1px var(--contrastColorWhite);
  text-transform: uppercase;
}

@keyframes show1Text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.anim-show1__text::before {
  animation: animate 1s linear forwards;
  animation-delay: 1.2s;
  color: var(--contrastColorWhite);
  content: attr(data-text);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 0;
}

/* animation to fill text */
@keyframes animate {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@media screen and (min-width: 3200px) {
  .anim-show1__text {
    font-size: 220px;
  }
}
@media screen and (min-width: 2000px) and (max-width: 3200px) {
  .anim-show1__text {
    font-size: 170px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1700px) {
  .anim-show1__text {
    font-size: 100px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .anim-show1__text {
    font-size: 90px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  .anim-show1__text {
    font-size: 80px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .anim-show1__text {
    font-size: 70px;
  }
}
@media screen and (min-width: 350px) and (max-width: 500px) {
  .anim-show1__text {
    font-size: 42px;
  }
}
@media screen and (min-width: 0) and (max-width: 350px) {
  .anim-show1__text {
    font-size: 35px;
  }
}
@media screen and (min-width: 0) and (max-width: 1000px) {
  .anim-show {
    width: 100% !important;
    z-index: 999;
  }

  .anim-show1__text {
    letter-spacing: 5px;
  }
}
@media screen and (min-width: 900px) and (max-width: 1400px) and (min-height: 900px) and (max-height: 1600px) {
  .anim-show {
    width: 100% !important;
    z-index: 994;
  }
}
.menu {
  background: var(--contrastColorBlack);
  transition: var(--transitionTime);
  display: none;
  height: 100%;
  justify-content: space-around;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 95;
}
.menu section {
  align-items: center;
  border-right: 1px solid #4e4e4e;
  display: flex;
  font-family: "Viaoda Libre";
  font-size: 30px;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  width: 19.9%;
  color: var(--contrastColorWhite);
  transition: var(--transitionTime);
}
.menu section:last-child {
  border-bottom: none !important;
}
.menu .active-menu__child {
  color: var(--mainColor);
  transition: var(--transitionTime);
}
.menu span {
  align-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  transition: 0.3s;
  width: 100%;
  z-index: -1;
}
.menu .menu__section {
  animation: menu__section 0.75s ease forwards;
}
@keyframes menu__section {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.menu .menu__section span {
  background-position: center;
  background-size: cover;
}
.menu .active-menu__child p {
  border-bottom: 1px solid var(--mainColor);
}
.menu .active-menu__child span {
  opacity: 0.3;
  transition: opacity 0.7s;
}
.menu .active-menu__child::after {
  opacity: 0.04;
  transition: opacity 0.7s;
}
.menu .menu__section p {
  animation: menu__section-spanP 0.8s ease forwards;
  animation-delay: 0.6s;
  opacity: 0;
}
@keyframes menu__section-spanP {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu .menu__section-main span {
  background-image: url(../c616cca5d2786759b6ec.webp);
}
.menu .menu__section-paintings span {
  background-image: url(../e1a9f013648dcc57c90a.webp);
}
.menu .menu__section-architecture span {
  background-image: url(../7313614a28ba3c52dffd.webp);
}
.menu .menu__section-sculptures span {
  background-image: url(../1e78cfc2586d4cbc01bf.webp);
}
.menu .menu__section-music span {
  background-image: url(../31f406f3c9f1fce9eda9.webp);
}
.menu section:hover span {
  opacity: 0.3;
  transition: 0.4s;
}
.menu section::after {
  background: var(--mainColor);
  transition: var(--transitionTime);
  content: "";
  height: 100%;
  opacity: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
}
.menu section:hover::after {
  opacity: 0.04;
}

.menu-click {
  animation: menuClick 0.8s forwards;
  animation-delay: 0.1s;
  border: 0;
  border: none;
  opacity: 1;
  transform: translateY(-100%);
}

@keyframes menuClick {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
/*!*****************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./menu/scss/adap-menu.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************/
@media screen and (min-width: 3200px) {
  .menu .menu__section p {
    font-size: 60px;
  }
}
@media screen and (min-width: 2000px) and (max-width: 3200px) {
  .menu .menu__section p {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1700px) {
  .menu .menu__section p {
    font-size: 26px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .menu .menu__section p {
    font-size: 23px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  .menu .menu__section p {
    font-size: 26px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .menu .menu__section p {
    font-size: 22px;
  }
}
@media screen and (min-width: 0) and (max-width: 500px) {
  .menu .menu__section p {
    font-size: 22px;
  }
}
@media screen and (min-width: 400px) and (max-width: 500px) {
  .menu__section p {
    font-size: 24px !important;
  }
}
@media screen and (min-width: 0) and (max-width: 1000px) {
  .menu {
    align-items: center;
    flex-direction: column;
    width: 100% !important;
  }
  .menu section {
    border-bottom: 1px solid #4e4e4e;
    border-left: none;
    border-right: none;
    height: 100%;
    width: 100%;
  }
  .menu .menu__section p {
    animation-delay: 0.8s;
  }
  .menu .menu__section span {
    height: 100%;
  }
  .menu .menu__section-main span {
    background-image: url(../30288eeb7990e326d71a.webp);
  }
  .menu .menu__section-paintings span {
    background-image: url(../7a6af81dd7e936c3254f.webp);
  }
  .menu .menu__section-architecture span {
    background-image: url(../4220b66ca58b5e48adf3.webp);
  }
  .menu .menu__section-sculptures span {
    background-image: url(../5596188b9bfb94b5f169.webp);
  }
  .menu .menu__section-music span {
    background-image: url(../3cc573189a08cb3f8930.webp);
  }

  @keyframes menu__section {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}
@media screen and (min-width: 950px) and (max-width: 1400px) and (min-height: 900px) and (max-height: 1600px) {
  .menu {
    align-items: center;
    flex-direction: column;
    height: 94vh;
    top: 6vh;
    width: 100% !important;
  }
  .menu section {
    border-bottom: 1px solid #4e4e4e;
    border-left: none;
    border-right: none;
    height: 100%;
    width: 100%;
  }
  .menu .menu__section p {
    animation-delay: 0.8s;
    font-size: 30px;
  }
  .menu .menu__section span {
    height: 100%;
  }
  .menu .menu__section-main span {
    background-image: url(../30288eeb7990e326d71a.webp);
  }
  .menu .menu__section-paintings span {
    background-image: url(../7a6af81dd7e936c3254f.webp);
  }
  .menu .menu__section-architecture span {
    background-image: url(../4220b66ca58b5e48adf3.webp);
  }
  .menu .menu__section-sculptures span {
    background-image: url(../5596188b9bfb94b5f169.webp);
  }
  .menu .menu__section-music span {
    background-image: url(../3cc573189a08cb3f8930.webp);
  }

  @keyframes menu__section {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) and (min-height: 0) and (max-height: 500px) {
  .menu .menu__section p {
    font-size: 21px;
    margin: 0;
    padding: 0;
  }
}
