/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./navigation/scss/navigation.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap);
/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./navigation/scss/navigation.scss (1) ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200;300;400;500;600;700;800&display=swap);
/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./navigation/scss/navigation.scss (2) ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap);
/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./navigation/scss/navigation.scss (3) ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200;300;400;500;600;700;800&display=swap);
/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./navigation/scss/navigation.scss (4) ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap);
/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./navigation/scss/navigation.scss (5) ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200;300;400;500;600;700;800&display=swap);
/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./navigation/scss/navigation.scss (6) ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap);
/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./navigation/scss/navigation.scss (7) ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200;300;400;500;600;700;800&display=swap);
/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./navigation/scss/navigation.scss (8) ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
html {
  --mainColor: #ffc700;
  --contrastColorBlack: #080808;
  --contrastColorWhite: #fff;
  --transitionTime: 0;
}

@keyframes increase {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes reduction {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes leftToStatic {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes rightToStatic {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes topToStatic {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes bottomToStatic {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
html {
  --mainColor: #ffc700;
  --contrastColorBlack: #080808;
  --contrastColorWhite: #fff;
  --transitionTime: 0;
}

@keyframes increase {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes reduction {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes leftToStatic {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes rightToStatic {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes topToStatic {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes bottomToStatic {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.navigation__colors {
  display: flex;
  justify-content: center;
}

.colors__active {
  background: var(--contrastColorWhite);
  transition: var(--transitionTime);
  align-items: center;
  display: none;
  flex-direction: column;
  position: fixed;
  right: 4.7%;
}
.colors__active .colors__head {
  color: var(--contrastColorBlack);
  transition: var(--transitionTime);
  font-family: "Spectral SC";
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.colors__active .active__colors {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
  width: 300px;
}
.colors__active .active__colors .colors__color {
  display: block;
  height: 35px;
  margin: 10px 25px;
  transform: rotate(135deg);
  width: 35px;
}
.colors__active .active__colors .colors__black {
  background: #0b0b0b;
  border: 2px solid #fff;
}
.colors__active .active__colors .colors__white {
  background: #fff;
  border: 2px solid #0b0b0b;
}
.colors__active .active__colors .colors__yellow {
  background: #ffc700;
}
.colors__active .active__colors .colors__red {
  background: #e60000;
}
.colors__active .active__colors .colors__green {
  background: #00e226;
}
.colors__active .active__colors .colors__violet {
  background: #cd07ff;
}
.colors__active .active__colors .colors__blue {
  background: #0fd4ff;
}
.colors__active .active-contrast-color::after {
  animation: active-main-color 0.3s forwards;
  content: "";
  display: block;
  height: 41px;
  margin: -5px 0 0 -5px;
  transition: 0.3s;
  width: 41px;
  border: 2px solid var(--contrastColorBlack);
}
.colors__active .active-main-color::after {
  animation: active-main-color 0.3s forwards;
  content: "";
  display: block;
  height: 41px;
  margin: -5px 0 0 -5px;
  transition: 0.3s;
  width: 41px;
  border: 2px solid var(--mainColor);
}
@keyframes active-main-color {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.colors__active .no-active-main-color::after {
  animation: no-active-main-color 0.3s forwards;
  border: 2px solid var(--mainColor);
  content: "";
  display: block;
  height: 45px;
  margin: -7px 0 0 -7px;
  width: 45px;
}
@keyframes no-active-main-color {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.colors__active::after {
  border-bottom: 8px solid transparent;
  border-left: 16px solid var(--contrastColorWhite);
  border-top: 8px solid transparent;
  content: "";
  display: block;
  height: 0;
  position: fixed;
  right: 4%;
  top: 74.6vh;
  transition: var(--transitionTime);
  width: 0;
}

.colors__icon {
  display: flex;
}
.colors__icon .icon__color {
  height: 0;
  width: 0;
}
.colors__icon .icon__color-contrast {
  border-bottom: 20px solid transparent;
  border-left: 20px solid var(--mainColor);
  border-top: 20px solid transparent;
  transition: var(--transitionTime);
}
.colors__icon .icon__color-main {
  border-bottom: 20px solid transparent;
  border-right: 20px solid var(--contrastColorBlack);
  border-top: 20px solid transparent;
  transition: var(--transitionTime);
}

html {
  --mainColor: #ffc700;
  --contrastColorBlack: #080808;
  --contrastColorWhite: #fff;
  --transitionTime: 0;
}

@keyframes increase {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes reduction {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes leftToStatic {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes rightToStatic {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes topToStatic {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes bottomToStatic {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.navigation__languages {
  display: flex;
  justify-content: center;
}
.navigation__languages .languages__choice {
  align-self: center;
  border: 3px solid var(--contrastColorWhite);
  display: none;
  flex-direction: column;
  position: fixed;
  right: 4.7%;
  top: 40.5vh;
  background: var(--contrastColorWhite);
  transition: var(--transitionTime);
}
.navigation__languages .languages__choice::after {
  border-bottom: 8px solid transparent;
  border-left: 16px solid var(--contrastColorWhite);
  border-top: 8px solid transparent;
  content: "";
  display: block;
  height: 0;
  position: fixed;
  right: 4%;
  top: 49.5vh;
  transition: var(--transitionTime);
  width: 0;
  z-index: -2;
}
.navigation__languages .choice-active {
  background: var(--mainColor);
  transition: var(--transitionTime);
  position: absolute;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: -1;
}
.navigation__languages .choice__language {
  color: var(--contrastColorBlack);
  transition: var(--transitionTime);
  font-size: 22px;
  padding: 15px;
}
.navigation__languages .languages__language {
  border-bottom: 2px solid var(--contrastColorBlack);
  font-family: "Spectral SC";
  font-size: 25px;
  padding-bottom: 0;
  color: var(--contrastColorBlack);
  transition: var(--transitionTime);
}

html {
  --mainColor: #ffc700;
  --contrastColorBlack: #080808;
  --contrastColorWhite: #fff;
  --transitionTime: 0;
}

@keyframes increase {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes reduction {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes leftToStatic {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes rightToStatic {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes topToStatic {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes bottomToStatic {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.navigation__menu {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.navigation__menu .menu__lines {
  background: var(--contrastColorBlack);
  transition: var(--transitionTime);
  display: flex;
  height: 2px;
  margin: 2px 0;
}
.navigation__menu .menu__lines-lines1 {
  width: 45px;
}
.navigation__menu .menu__lines-lines2 {
  width: 35px;
}
.navigation__menu .menu__lines-lines3 {
  width: 25px;
}
.navigation__menu .menu__lines-lines4 {
  width: 15px;
}
.navigation__menu .menu__lines-lines5 {
  width: 7px;
}
.navigation__menu .menu__lines-active {
  background: var(--mainColor);
  transition: var(--transitionTime);
  width: 45px;
}

.notActiveMenuIcon {
  animation: navigation__menu 0.3s forwards;
}

@keyframes navigation__menu {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.navigation__clouse {
  align-items: center;
  animation: navigation__clouse 0.3s forwards;
  display: none;
  flex-direction: column;
}
@keyframes navigation__clouse {
  from {
    transform: scale(0) rotate(45deg);
  }
  to {
    transform: scale(1) rotate(45deg);
  }
}
.navigation__clouse .navigation__clouse-diamond {
  align-content: space-around;
  align-items: center;
  border: 2px solid var(--contrastColorBlack);
  color: transparent;
  display: flex;
  font-size: 18px;
  height: 26px;
  justify-content: center;
  text-shadow: 0 0 0 var(--mainColor);
  transition: var(--transitionTime);
  width: 26px;
}
.navigation__clouse .navigation__clouse-lines {
  background: var(--mainColor);
  transition: var(--transitionTime);
  display: flex;
  height: 2px;
  justify-content: center;
  width: 25px;
}
.navigation__clouse .navigation__clouse-cross {
  color: var(--mainColor);
  transition: var(--transitionTime);
  font-size: 17px;
  transform: rotate(45deg);
}

.navigation {
  background: var(--contrastColorWhite);
  transition: var(--transitionTime);
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  position: fixed;
  right: 0;
  width: 4%;
  z-index: 97;
}

.active__close-modal {
  color: var(--mainColor);
  transition: var(--transitionTime);
  align-items: center;
  border: 2px solid var(--contrastColorWhite);
  color: var(--mainColor);
  display: none;
  font-size: 27px;
  height: 40px;
  justify-content: center;
  position: fixed;
  right: 4%;
  top: 2.5vh;
  transform: rotate(45deg);
  width: 40px;
}

::-webkit-scrollbar {
  display: none;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./navigation/scss/adap/adap-navigation.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
@media screen and (min-width: 3200px) {
  .active__colors::after {
    border-bottom: 10px solid transparent;
    border-left: 18px solid var(--contrastColorWhite);
    border-top: 10px solid transparent;
    right: 97%;
    top: 74.5vh;
  }

  .colors__icon .icon__color-main {
    border-bottom: 35px solid transparent;
    border-right: 35px solid var(--contrastColorBlack);
    border-top: 35px solid transparent;
  }
  .colors__icon .icon__color-contrast {
    border-bottom: 35px solid transparent;
    border-left: 35px solid var(--mainColor);
    border-top: 35px solid transparent;
  }

  .colors__active {
    padding: 0 35px;
  }
  .colors__active .colors__head {
    font-size: 33px;
  }
  .colors__active .active__colors {
    width: 500px;
  }
  .colors__active .active__colors .colors__color {
    height: 70px;
    margin: 16px 40px;
    width: 70px;
  }
  .colors__active .active-contrast-color::after,
.colors__active .active-main-color::after {
    height: 84px;
    margin-left: -9px;
    margin-top: -9px;
    width: 84px;
  }
}
@media screen and (min-width: 2000px) and (max-width: 3200px) {
  .colors__icon .icon__color-main {
    border-bottom: 25px solid transparent;
    border-right: 25px solid var(--contrastColorBlack);
    border-top: 25px solid transparent;
  }
  .colors__icon .icon__color-contrast {
    border-bottom: 25px solid transparent;
    border-left: 25px solid var(--mainColor);
    border-top: 25px solid transparent;
  }

  .colors__active {
    padding: 0 20px;
  }
  .colors__active .colors__head {
    font-size: 24px;
  }
  .colors__active .active__colors {
    width: 370px;
  }
  .colors__active .active__colors .colors__color {
    height: 50px;
    margin: 16px 25px;
    width: 50px;
  }
  .colors__active .colors__active .active__colors::after {
    border-bottom: 15px solid transparent;
    border-left: 19px solid var(--contrastColorWhite);
    border-top: 15px solid transparent;
    right: 4.1%;
  }
  .colors__active .active-contrast-color::after,
.colors__active .active-main-color::after {
    height: 60px;
    margin-left: -7px;
    margin-top: -7px;
    width: 60px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1700px) {
  .colors__active {
    padding: 0 20px;
    right: 5%;
  }
  .colors__active .colors__head {
    font-size: 18px;
  }
  .colors__active .active__colors {
    width: 250px;
  }
  .colors__active .active__colors .colors__color {
    height: 30px;
    margin: 10px 20px;
    width: 30px;
  }
  .colors__active .active-contrast-color::after,
.colors__active .active-main-color::after {
    height: 36px;
    margin-left: -5px;
    margin-top: -5px;
    width: 36px;
  }
  .colors__active .active__colors::after {
    border-bottom: 8px solid transparent;
    border-left: 9px solid var(--contrastColorWhite);
    border-top: 8px solid transparent;
    right: 100%;
  }

  .colors__icon .icon__color-main {
    border-bottom: 18px solid transparent;
    border-right: 18px solid var(--contrastColorBlack);
    border-top: 18px solid transparent;
  }

  .colors__icon .icon__color-contrast {
    border-bottom: 18px solid transparent;
    border-left: 18px solid var(--mainColor);
    border-top: 18px solid transparent;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .colors__active {
    padding: 0 20px;
    right: 5%;
  }
  .colors__active .colors__head {
    font-size: 15px;
  }
  .colors__active .active__colors {
    width: 220px;
  }
  .colors__active .active__colors .colors__color {
    height: 28px;
    margin: 7px 20px;
    width: 28px;
  }
  .colors__active .active-contrast-color::after,
.colors__active .active-main-color::after {
    height: 34px;
    margin-left: -5px;
    margin-top: -5px;
    width: 34px;
  }
  .colors__active .active__colors::after {
    border-bottom: 8px solid transparent;
    border-left: 9px solid var(--contrastColorWhite);
    border-top: 8px solid transparent;
    right: 97.9%;
  }

  .colors__icon .icon__color-main {
    border-bottom: 16px solid transparent;
    border-right: 16px solid var(--contrastColorBlack);
    border-top: 16px solid transparent;
  }

  .colors__icon .icon__color-contrast {
    border-bottom: 16px solid transparent;
    border-left: 16px solid var(--mainColor);
    border-top: 16px solid transparent;
  }
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  .colors__active .colors__head {
    font-size: 34px;
    margin: 6vh 0 0;
  }
  .colors__active .active__colors {
    width: 75%;
  }
  .colors__active .active__colors .colors__color {
    height: 65px;
    margin: 25px 45px;
    width: 65px;
  }
  .colors__active .active-contrast-color::after,
.colors__active .active-main-color::after {
    height: 75px;
    margin-left: -7px;
    margin-top: -7px;
    width: 75px;
  }

  .navigation__languages .languages__language {
    font-size: 23px;
  }

  .languages__choice .choice__language {
    font-size: 45px;
    padding: 5vh 0;
  }

  .colors__icon .icon__color-main {
    border-bottom: 17px solid transparent;
    border-right: 17px solid var(--contrastColorBlack);
    border-top: 17px solid transparent;
  }
  .colors__icon .icon__color-contrast {
    border-bottom: 17px solid transparent;
    border-left: 17px solid var(--mainColor);
    border-top: 17px solid transparent;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .colors__icon .icon__color-main {
    border-bottom: 17px solid transparent;
    border-right: 17px solid var(--contrastColorBlack);
    border-top: 17px solid transparent;
  }

  .colors__icon .icon__color-contrast {
    border-bottom: 17px solid transparent;
    border-left: 17px solid var(--mainColor);
    border-top: 17px solid transparent;
  }

  .colors__active .colors__head {
    font-size: 28px;
    margin: 8vh 0 1.5vh;
  }
  .colors__active .active__colors {
    width: 79%;
  }
  .colors__active .active__colors .colors__color {
    height: 45px;
    margin: 25px 40px;
    width: 45px;
  }
  .colors__active .active-contrast-color::after,
.colors__active .active-main-color::after {
    height: 61px;
    margin-left: -11px;
    margin-top: -10px;
    width: 61px;
  }
}
@media screen and (min-width: 350px) and (max-width: 500px) {
  .colors__icon .icon__color-main {
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--contrastColorBlack);
    border-top: 15px solid transparent;
  }

  .colors__icon .icon__color-contrast {
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--mainColor);
    border-top: 15px solid transparent;
  }

  .colors__active .colors__head {
    font-size: 26px;
    margin: 8vh 0 1.5vh;
  }
  .colors__active .active__colors {
    width: 79%;
  }
  .colors__active .active__colors .colors__color {
    height: 45px;
    margin: 28px 41px;
    width: 45px;
  }
  .colors__active .active-contrast-color::after,
.colors__active .active-main-color::after {
    height: 59px;
    margin-left: -9px;
    margin-top: -9px;
    width: 59px;
  }
}
@media screen and (min-width: 0) and (max-width: 350px) {
  .colors__icon .icon__color-main {
    border-bottom: 14px solid transparent;
    border-right: 14px solid var(--contrastColorBlack);
    border-top: 14px solid transparent;
  }

  .colors__icon .icon__color-contrast {
    border-bottom: 14px solid transparent;
    border-left: 14px solid var(--mainColor);
    border-top: 14px solid transparent;
  }

  .colors__active .colors__head {
    font-size: 21px;
    margin: 2vh 0 0;
  }
  .colors__active .active__colors {
    width: 79%;
  }
  .colors__active .active__colors .colors__color {
    height: 40px;
    margin: 20px 35px;
    width: 40px;
  }
  .colors__active .active-contrast-color::after,
.colors__active .active-main-color::after {
    height: 50px;
    margin-left: -7px;
    margin-top: -7px;
    width: 50px;
  }
}
@media screen and (min-width: 0) and (max-width: 1000px) {
  .colors__active {
    background: var(--contrastColorBlack);
    height: 100vh;
    justify-content: center;
    left: 0;
    top: 0 !important;
    width: 100%;
  }
  .colors__active .color {
    width: 100%;
  }
  .colors__active .colors__head {
    color: var(--contrastColorWhite);
  }
  .colors__active .no-active-main-color::after {
    animation: none;
    height: 0;
    margin: 50% 0 0;
    width: 0;
  }

  .colors__active::after {
    display: none;
  }

  .colors__main,
.active__contrast {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .active-contrast-color::after {
    border-color: var(--contrastColorWhite) !important;
  }

  @keyframes no-active-main-color {
    from {
      margin-left: 0%;
      margin-top: 0%;
      transform: scale(1);
    }
    to {
      margin-left: 100%;
      margin-top: 100%;
      transform: scale(0);
    }
  }
}
@media screen and (min-width: 900px) and (max-width: 1400px) and (min-height: 900px) and (max-height: 1600px) {
  .colors__main,
.active__contrast {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .active-contrast-color::after {
    border-color: var(--contrastColorWhite) !important;
  }

  @keyframes no-active-main-color {
    from {
      margin-left: 0%;
      margin-top: 0%;
      transform: scale(1);
    }
    to {
      margin-left: 100%;
      margin-top: 100%;
      transform: scale(0);
    }
  }
  .colors__icon .icon__color-main {
    border-bottom-width: 19px;
    border-right-width: 20px;
    border-top-width: 19px;
  }
  .colors__icon .icon__color-contrast {
    border-bottom-width: 19px;
    border-left-width: 20px;
    border-top-width: 19px;
  }

  .colors__active {
    background: var(--contrastColorBlack);
    height: 100vh;
    justify-content: center;
    left: 0;
    top: 0 !important;
    width: 100%;
  }
  .colors__active .color {
    width: 100%;
  }
  .colors__active .active__colors::after {
    display: none;
  }
  .colors__active .no-active-main-color::after {
    animation: none;
    height: 0;
    margin: 50% 0 0;
    width: 0;
  }
  .colors__active .colors__head {
    color: var(--contrastColorWhite);
    font-size: 47px;
    margin: 8vh 0 0;
  }
  .colors__active .active__colors {
    width: 75%;
  }
  .colors__active .active__colors .colors__color {
    height: 70px;
    margin: 60px;
    width: 70px;
  }
  .colors__active .active-contrast-color::after,
.colors__active .active-main-color::after {
    height: 85px;
    margin-left: -10px;
    margin-top: -10px;
    width: 85px;
  }

  .colors__active::after {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) and (min-height: 0) and (max-height: 500px) {
  .active__close-modal {
    font-size: 16px;
    height: 26px;
    right: 2%;
    top: 3.5vh;
    width: 26px;
  }

  .colors__active .active__colors {
    width: 100%;
  }
  .colors__active .active__colors .colors__color {
    height: 45px;
    margin: 15px 30px;
    width: 45px;
  }
  .colors__active .colors__head {
    font-size: 25px;
  }
  .colors__active .active-contrast-color::after,
.colors__active .active-main-color::after {
    height: 55px;
    margin-left: -7px;
    margin-top: -7px;
    width: 55px;
  }
}
@media screen and (min-width: 3200px) {
  .navigation__languages .languages__language {
    font-size: 48px;
  }

  .navigation__languages .choice__language {
    font-size: 43px;
    padding: 23px;
  }

  .navigation__languages .languages__choice {
    border: 4px solid var(--contrastColorWhite);
  }

  .navigation__languages .languages__choice::after {
    border-bottom: 15px solid transparent;
    border-left: 17px solid var(--contrastColorWhite);
    border-top: 15px solid transparent;
  }
}
@media screen and (min-width: 2000px) and (max-width: 3200px) {
  .navigation__languages .languages__language {
    font-size: 32px;
  }

  .navigation__languages .choice__language {
    font-size: 25px;
    padding: 17px;
  }

  .navigation__languages .languages__choice {
    border: 4px solid var(--contrastColorWhite);
  }

  .navigation__languages .languages__choice::after {
    border-bottom: 10px solid transparent;
    border-left: 15px solid var(--contrastColorWhite);
    border-top: 10px solid transparent;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1700px) {
  .navigation__clouse .navigation__clouse-diamond {
    font-size: 15px;
    height: 25px;
    width: 25px;
  }

  .navigation__languages .choice__language {
    font-size: 21px;
    padding: 15px;
  }
  .navigation__languages .languages__choice {
    border: 3px solid var(--contrastColorWhite);
    right: 110%;
  }
  .navigation__languages .languages__choice::after {
    border-bottom: 7px solid transparent;
    border-left: 10px solid var(--contrastColorWhite);
    border-top: 7px solid transparent;
    right: 98.9%;
  }
  .navigation__languages .languages__language {
    font-size: 22px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .navigation__languages .languages__language {
    font-size: 20px;
  }

  .navigation__clouse .navigation__clouse-diamond {
    font-size: 16px;
    height: 24px;
    width: 24px;
  }

  .navigation__languages .choice__language {
    font-size: 18px;
    padding: 12px;
  }
  .navigation__languages .languages__choice {
    border: 3px solid var(--contrastColorWhite);
    right: 110%;
  }
  .navigation__languages .languages__choice::after {
    border-bottom: 7px solid transparent;
    border-left: 10px solid var(--contrastColorWhite);
    border-top: 7px solid transparent;
    right: 98%;
  }
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  .navigation__languages .languages__language {
    font-size: 23px;
  }

  .languages__choice .choice__language {
    font-size: 45px;
    padding: 5vh 0;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .navigation__languages .languages__language {
    font-size: 22px;
  }

  .languages__choice .choice__language {
    font-size: 37px;
    padding: 5vh 0;
  }

  .active__close-modal {
    font-size: 20px;
    height: 32px;
    width: 32px;
  }
}
@media screen and (min-width: 350px) and (max-width: 500px) {
  .navigation__languages .languages__language {
    font-size: 21px;
  }

  .languages__choice .choice__language {
    font-size: 31px;
    padding: 6vh 0;
  }

  .active__close-modal {
    font-size: 18px;
    height: 30px;
    width: 30px;
  }
}
@media screen and (min-width: 0) and (max-width: 350px) {
  .navigation__languages .languages__language {
    font-size: 18px;
  }

  .languages__choice .choice__language {
    font-size: 31px;
    padding: 6vh 0;
  }
}
@media screen and (min-width: 0) and (max-width: 1000px) {
  .languages__choice {
    align-items: center;
    background: var(--contrastColorBlack);
    background: var(--contrastColorBlack) !important;
    border: none !important;
    height: 100vh;
    justify-content: space-evenly;
    left: 0;
    top: 0 !important;
    width: 100%;
  }
  .languages__choice .choice__language {
    color: var(--contrastColorWhite);
    display: flex;
    justify-content: center;
  }
  .languages__choice .choice-active {
    top: 0;
  }
  .languages__choice .languages__choice::after {
    display: none !important;
  }

  .navigation__languages .languages__choice::after {
    display: none;
  }
}
@media screen and (min-width: 900px) and (max-width: 1400px) and (min-height: 900px) and (max-height: 1600px) {
  .navigation__languages .languages__choice::after {
    display: none;
  }

  .navigation__languages .languages__language {
    font-size: 28px;
  }

  .languages__choice {
    background: var(--contrastColorBlack);
    background: var(--contrastColorBlack) !important;
    border: none !important;
    height: 100vh;
    justify-content: center;
    justify-content: space-evenly;
    left: 0;
    top: 0 !important;
    width: 100%;
  }
  .languages__choice .choice-active {
    top: 0;
  }
  .languages__choice .languages__choice::after {
    display: none !important;
  }
  .languages__choice .choice__language {
    color: var(--contrastColorWhite);
    display: flex;
    font-size: 50px;
    justify-content: center;
    padding: 5vh 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) and (min-height: 0) and (max-height: 500px) {
  .languages__choice .choice__language {
    font-size: 34px;
    padding: 3vh 0;
  }
}
@media screen and (min-width: 3200px) {
  .navigation__menu .menu__lines {
    height: 4px;
    margin: 4px 15px;
  }
  .navigation__menu .menu__lines-active {
    width: 85px;
  }
  .navigation__menu .menu__lines-lines2 {
    width: 62px;
  }
  .navigation__menu .menu__lines-lines3 {
    width: 44px;
  }
  .navigation__menu .menu__lines-lines4 {
    width: 25px;
  }
  .navigation__menu .menu__lines-lines5 {
    width: 9px;
  }

  .navigation__clouse .navigation__clouse-diamond {
    border-width: 4px;
    font-size: 30px;
    height: 52px;
    width: 52px;
  }
}
@media screen and (min-width: 2000px) and (max-width: 3200px) {
  .navigation__menu .menu__lines {
    margin: 2.5px 15px;
  }
  .navigation__menu .menu__lines-active {
    width: 52px;
  }
  .navigation__menu .menu__lines-lines2 {
    width: 40px;
  }
  .navigation__menu .menu__lines-lines3 {
    width: 29px;
  }
  .navigation__menu .menu__lines-lines4 {
    width: 18px;
  }
  .navigation__menu .menu__lines-lines5 {
    width: 8px;
  }

  .navigation__clouse .navigation__clouse-diamond {
    font-size: 22px;
    height: 34px;
    width: 34px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1700px) {
  .navigation__menu .menu__lines {
    margin: 1.5px 15px;
  }
  .navigation__menu .menu__lines-active {
    width: 39px;
  }
  .navigation__menu .menu__lines-lines2 {
    width: 29px;
  }
  .navigation__menu .menu__lines-lines3 {
    width: 21px;
  }
  .navigation__menu .menu__lines-lines4 {
    width: 12px;
  }
  .navigation__menu .menu__lines-lines5 {
    width: 5px;
  }

  .navigation__clouse .navigation__clouse-diamond {
    font-size: 15px;
    height: 25px;
    width: 25px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .navigation__menu .menu__lines {
    margin: 1.5px 15px;
  }
  .navigation__menu .menu__lines-active {
    width: 39px;
  }
  .navigation__menu .menu__lines-lines2 {
    width: 29px;
  }
  .navigation__menu .menu__lines-lines3 {
    width: 21px;
  }
  .navigation__menu .menu__lines-lines4 {
    width: 12px;
  }
  .navigation__menu .menu__lines-lines5 {
    width: 5px;
  }

  .navigation__clouse .navigation__clouse-diamond {
    font-size: 16px;
    height: 24px;
    width: 24px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  .navigation__menu {
    right: -8px;
  }
  .navigation__menu .menu__lines-lines1 {
    width: 38px;
  }
  .navigation__menu .menu__lines-lines2 {
    width: 29px;
  }
  .navigation__menu .menu__lines-lines3 {
    width: 18px;
  }
  .navigation__menu .menu__lines-lines4 {
    width: 12px;
  }
  .navigation__menu .menu__lines-lines5 {
    width: 4px;
  }

  .menu__lines {
    margin: 2px 0;
  }

  .navigation__clouse {
    margin: 0 -1px 0 13px;
  }
  .navigation__clouse .navigation__clouse-diamond {
    font-size: 13px;
    height: 22px;
    width: 22px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .navigation__menu .menu__lines-lines1 {
    width: 35px;
  }
  .navigation__menu .menu__lines-lines2 {
    width: 25px;
  }
  .navigation__menu .menu__lines-lines3 {
    width: 17px;
  }
  .navigation__menu .menu__lines-lines4 {
    width: 9px;
  }
  .navigation__menu .menu__lines-lines5 {
    width: 3px;
  }

  .menu__lines {
    margin: 2px 0;
  }

  .navigation__clouse {
    margin: 0 6px 0 3px;
  }
  .navigation__clouse .navigation__clouse-diamond {
    font-size: 13px;
    height: 24px;
    width: 24px;
  }
}
@media screen and (min-width: 350px) and (max-width: 500px) {
  .navigation__menu .menu__lines-lines1 {
    width: 35px;
  }
  .navigation__menu .menu__lines-lines2 {
    width: 26px;
  }
  .navigation__menu .menu__lines-lines3 {
    width: 19px;
  }
  .navigation__menu .menu__lines-lines4 {
    width: 11px;
  }
  .navigation__menu .menu__lines-lines5 {
    width: 3px;
  }

  .navigation__clouse {
    margin: 0 5px 0 4px;
  }
  .navigation__clouse .navigation__clouse-diamond {
    font-size: 13px;
    height: 22px;
    width: 22px;
  }
}
@media screen and (min-width: 0) and (max-width: 350px) {
  .navigation__menu .menu__lines-lines1 {
    width: 32px;
  }
  .navigation__menu .menu__lines-lines2 {
    width: 24px;
  }
  .navigation__menu .menu__lines-lines3 {
    width: 15px;
  }
  .navigation__menu .menu__lines-lines4 {
    width: 8px;
  }
  .navigation__menu .menu__lines-lines5 {
    width: 2px;
  }

  .menu__lines {
    margin: 2px 0;
  }

  .navigation__clouse {
    margin: 0 4px;
  }
  .navigation__clouse .navigation__clouse-diamond {
    font-size: 11px;
    height: 20px;
    width: 20px;
  }
}
@media screen and (min-width: 0) and (max-width: 1000px) {
  .navigation__menu {
    position: relative;
  }
}
@media screen and (min-width: 900px) and (max-width: 1400px) and (min-height: 900px) and (max-height: 1600px) {
  .navigation__menu {
    position: relative;
    right: -8px;
  }
  .navigation__menu .menu__lines-lines1 {
    width: 45px;
  }
  .navigation__menu .menu__lines-lines2 {
    width: 31px;
  }
  .navigation__menu .menu__lines-lines3 {
    width: 18px;
  }
  .navigation__menu .menu__lines-lines4 {
    width: 11px;
  }
  .navigation__menu .menu__lines-lines5 {
    width: 3px;
  }

  .navigation__clouse {
    margin: 0 0 0 18px;
  }
  .navigation__clouse .navigation__clouse-diamond {
    font-size: 17px;
    height: 27px;
    width: 27px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  .navigation {
    padding: 1.2vh 0;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .navigation {
    padding: 2.2vh 0;
  }

  .active__close-modal {
    font-size: 20px;
    height: 32px;
    width: 32px;
  }
}
@media screen and (min-width: 350px) and (max-width: 500px) {
  .navigation {
    padding: 15px 0;
  }

  .active__close-modal {
    font-size: 18px;
    height: 30px;
    width: 30px;
  }
}
@media screen and (min-width: 0) and (max-width: 350px) {
  .navigation {
    padding: 15px 0;
  }

  .active__close-modal {
    font-size: 16px !important;
    height: 24px !important;
    width: 24px !important;
  }
}
@media screen and (min-width: 0) and (max-width: 1000px) {
  .navigation {
    align-items: center;
    flex-direction: row;
    height: 4vh;
    justify-content: space-around;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 9999;
  }

  .active__close-modal {
    display: flex;
    font-size: 20px;
    height: 32px;
    right: auto;
    width: 32px;
  }
}
@media screen and (min-width: 900px) and (max-width: 1400px) and (min-height: 900px) and (max-height: 1600px) {
  .content {
    top: 4vh;
    width: 100% !important;
  }

  .navigation {
    align-items: center;
    flex-direction: row;
    height: 4vh;
    justify-content: space-around;
    padding: 1.2vh 0;
    top: 0;
    width: 100%;
    z-index: 995;
  }

  .active__close-modal {
    display: flex;
    font-size: 20px;
    height: 35px;
    width: 35px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) and (min-height: 0) and (max-height: 500px) {
  .navigation {
    height: 40px;
    padding: 1.5vh 0;
  }

  .active__close-modal {
    font-size: 16px;
    height: 26px;
    right: 2%;
    top: 3.5vh;
    width: 26px;
  }
}
