/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./paintings/scss/paintings.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap);
/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./paintings/scss/paintings.scss (1) ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200;300;400;500;600;700;800&display=swap);
/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./paintings/scss/paintings.scss (2) ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
html {
  --mainColor: #ffc700;
  --contrastColorBlack: #080808;
  --contrastColorWhite: #fff;
  --transitionTime: 0;
}

@keyframes increase {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes reduction {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes leftToStatic {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes rightToStatic {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes topToStatic {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes bottomToStatic {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.scrollbar {
  align-items: center;
  animation: scrollbarFadeIn 0.5s forwards;
  animation-delay: 0.7s;
  display: flex;
  opacity: 0;
  position: absolute;
}
.scrollbar h1 {
  font-family: "Viaoda Libre";
  font-size: 58px;
  font-weight: 100;
  letter-spacing: 4px;
  margin: 0 20px;
}
.scrollbar .year-1 {
  color: var(--mainColor);
  transition: var(--transitionTime);
}
.scrollbar .year-2 {
  color: var(--contrastColorWhite);
  transition: var(--transitionTime);
}
.scrollbar .swiper-scrollbar {
  background: var(--contrastColorWhite);
  transition: var(--transitionTime);
  align-items: center;
  display: flex;
  height: 3px;
  width: 270px;
}
.scrollbar .swiper-scrollbar .swiper-scrollbar-drag::after {
  background: var(--contrastColorWhite);
  content: "";
  display: block;
  height: 25px;
  transform: rotate(45deg);
  transition: transform 1s, var(--transitionTime);
  width: 25px;
}

@keyframes scrollbarFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.swiper-wrapper {
  align-items: center !important;
  margin-top: 20vh;
}

.swiper-slide {
  animation: fadeInSlider 0.7s forwards;
  animation-delay: 0.25s;
  background-position: 50%;
  background-size: cover;
  opacity: 0;
  text-align: center;
  transition: transform 0.5s;
}
.swiper-slide p {
  color: var(--contrastColorWhite);
  transition: var(--transitionTime);
  font-family: "Viaoda Libre";
  font-size: 28px;
  margin-left: 12.5%;
  width: 75%;
}

@keyframes fadeInSlider {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.swiper-slide img {
  transition: 0.4s;
  width: 73%;
}

.swiper-slide__image-NOactive:hover {
  transform: scale(1.04);
  transition: transform 0.3s;
}

.swiper-slide-active {
  animation: fadeInSliderActive 0.7s forwards;
  transform: scale(1.15);
}

@keyframes fadeInSliderActive {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1.15);
  }
}
.swiper-slide-activeSwipe {
  transform: scale(0.9);
  transition: 0.4s;
}

.painting-click {
  animation: paintingClick 0.7s forwards;
  display: flex !important;
}

@keyframes paintingClick {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
body {
  background: var(--contrastColorBlack);
  transition: var(--transitionTime);
  align-items: center;
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.content {
  background: var(--contrastColorBlack);
  transition: var(--transitionTime);
  animation: content 0.6s forwards ease-out;
  animation-delay: 0.1s;
  height: 100%;
  opacity: 0;
  position: absolute;
}

@keyframes content {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.year {
  color: transparent;
  font-family: "Viaoda Libre";
  font-size: 270px;
  font-weight: 100;
  margin: 0;
}

.content_year {
  opacity: 0.1;
  -webkit-text-stroke: 2px var(--mainColor);
  transition: var(--transitionTime);
}

.background_year {
  opacity: 0.22;
  -webkit-text-stroke: 2px #fff;
}

.content__background {
  background: var(--mainColor);
  transition: var(--transitionTime);
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.swiper-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-x: clip;
  position: absolute;
  width: 100%;
}
/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./paintings/scss/adap/adap-paintings.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
@media screen and (min-width: 3200px) {
  .scrollbar h1 {
    font-size: 105px;
    margin: 0 30px;
  }
  .scrollbar .swiper-scrollbar {
    height: 5px;
    width: 13vw;
  }
  .scrollbar .swiper-scrollbar .swiper-scrollbar-drag::after {
    height: 40px;
    width: 40px;
  }
}
@media screen and (min-width: 2000px) and (max-width: 3200px) {
  .scrollbar h1 {
    font-size: 80px;
    margin: 0 30px;
  }
  .scrollbar .swiper-scrollbar {
    height: 4px;
    width: 15vw;
  }
  .scrollbar .swiper-scrollbar .swiper-scrollbar-drag::after {
    height: 35px;
    width: 35px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .scrollbar {
    top: -8vh;
  }
  .scrollbar .swiper-scrollbar {
    width: 22vw;
  }
  .scrollbar h1 {
    font-size: 52px;
  }
  .scrollbar .swiper-scrollbar .swiper-scrollbar-drag::after {
    height: 20px;
    width: 20px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  .scrollbar .swiper-scrollbar {
    width: 27vw;
  }
  .scrollbar h1 {
    font-size: 52px;
  }
  .scrollbar .swiper-scrollbar .swiper-scrollbar-drag::after {
    height: 20px;
    width: 20px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .scrollbar .swiper-scrollbar {
    width: 200px;
  }
  .scrollbar h1 {
    font-size: 47px;
  }
  .scrollbar .swiper-scrollbar .swiper-scrollbar-drag::after {
    height: 20px;
    width: 20px;
  }
}
@media screen and (min-width: 0) and (max-width: 500px) {
  .scrollbar .swiper-scrollbar {
    width: 35vw;
  }
  .scrollbar h1 {
    font-size: 33px;
    margin: 0 15px;
  }
  .scrollbar .swiper-scrollbar .swiper-scrollbar-drag::after {
    height: 20px;
    width: 20px;
  }
}
@media screen and (min-width: 900px) and (max-width: 1400px) and (min-height: 900px) and (max-height: 1600px) {
  .scrollbar h1 {
    font-size: 75px;
  }
  .scrollbar .swiper-scrollbar {
    width: 25vw;
  }
}
@media screen and (min-width: 3200px) {
  .swiper-slide p {
    font-size: 45px;
  }
}
@media screen and (min-width: 2000px) and (max-width: 3200px) {
  .swiper-wrapper {
    margin-top: 18vh;
  }

  .swiper-slide p {
    font-size: 32px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .swiper-slide p {
    font-size: 22px;
  }

  .swiper-slide img {
    width: 78%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .swiper-wrapper {
    margin-top: 15vh;
  }
  .swiper-wrapper p {
    font-size: 19px;
  }

  .swiper-slide img {
    width: 80%;
  }
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  .swiper-wrapper p {
    font-size: 21px;
  }

  .swiper-slide img {
    width: 80%;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .swiper-wrapper p {
    font-size: 19px;
  }

  .swiper-slide img {
    width: 85%;
  }
}
@media screen and (min-width: 0) and (max-width: 500px) {
  .swiper-wrapper {
    margin-top: 18vh;
  }
  .swiper-wrapper p {
    font-size: 17px;
  }

  .swiper-slide img {
    width: 85%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1400px) and (min-height: 900px) and (max-height: 1600px) {
  .swiper-wrapper p {
    font-size: 22px;
  }
}
@media screen and (max-width: 1050px) {
  .swiper-slide-active {
    animation: fadeInSlider 0.7s forwards;
    transform: scale(1);
  }

  .swiper-slide__image-NOactive:hover {
    transform: scale(1);
  }

  .swiper-slide-activeSwipe {
    transform: none;
  }
}
@media screen and (min-width: 3200px) {
  .year {
    font-size: 420px;
  }
}
@media screen and (min-width: 2000px) and (max-width: 3200px) {
  .year {
    font-size: 250px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .year {
    font-size: 200px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .year {
    font-size: 170px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  .year {
    font-size: 170px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .year {
    font-size: 120px;
  }
}
@media screen and (min-width: 0) and (max-width: 500px) {
  .year {
    font-size: 80px;
  }
}
@media screen and (min-width: 900px) and (max-width: 1400px) and (min-height: 900px) and (max-height: 1600px) {
  .year {
    font-size: 225px;
  }
}
