/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./sculptures/scss/sculptures.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap);
/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./sculptures/scss/sculptures.scss (1) ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200;300;400;500;600;700;800&display=swap);
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./sculptures/scss/adap/adap-sculptures.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap);
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./sculptures/scss/adap/adap-sculptures.scss (1) ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200;300;400;500;600;700;800&display=swap);
/*!**************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/normalize.css/normalize.css ***!
  \**************************************************************************************************************************/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./sculptures/scss/sculptures.scss (2) ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
html {
  --mainColor: #ffc700;
  --contrastColorBlack: #080808;
  --contrastColorWhite: #fff;
  --transitionTime: 0;
}

@keyframes increase {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes reduction {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes leftToStatic {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes rightToStatic {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes topToStatic {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes bottomToStatic {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.points {
  align-items: center;
  animation: show 0.7s forwards;
  animation-delay: 0.3s;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  opacity: 0;
  position: fixed;
  top: 4vh;
  width: 96%;
}
.points .points__point {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: translateY(-25%);
  z-index: 2;
}
.points .point__icon {
  background: var(--contrastColorBlack);
  transition: var(--transitionTime);
  border: 3px solid var(--mainColor);
  height: 0.7vw;
  margin: 1%;
  transform: rotate(45deg);
  transition: var(--transitionTime), transform 0.3s;
  width: 0.7vw;
  z-index: 2;
}
.points .point__icon-big {
  height: 1vw;
  width: 1vw;
}
.points .points__point-active .point__icon {
  background: var(--mainColor);
  transition: var(--transitionTime);
  transform: scale(1.1) rotate(45deg);
  transition: var(--transitionTime), transform 0.3s;
}
.points .point__year {
  color: var(--mainColor);
  transition: var(--transitionTime);
  display: block;
  font-family: "Viaoda Libre";
  font-weight: 100;
  letter-spacing: 2px;
  margin: -1vh 0 0;
  opacity: 0;
  padding-bottom: 1vh;
  width: max-content;
}
.points .points__point-active .point__year {
  opacity: 1;
  transition: 0.3s;
}

.points::after {
  content: "";
  display: inline;
  height: 3px;
  position: absolute;
  width: 100%;
  background: var(--mainColor);
  transition: var(--transitionTime);
}

.slider {
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.slider .slider__slide {
  display: flex;
  justify-content: center;
}
.slider .slide__image {
  display: none;
  height: 90vh;
  margin-bottom: -15vh;
  opacity: 0;
  z-index: 2;
}
.slider .slider__text {
  position: fixed;
  top: 17vh;
}
.slider .slide__name {
  animation: slideActive 0.6s forwards;
  color: transparent;
  display: none;
  font-family: "Spectral SC";
  font-size: 80px;
  letter-spacing: 3px;
  margin: 0;
  text-align: center;
  -webkit-text-stroke: 2px var(--contrastColorWhite);
  text-transform: uppercase;
  transition: 0.3s;
  width: fit-content;
  z-index: 1;
}
.slider .slide__name:hover {
  color: var(--contrastColorWhite);
  transition: var(--transitionTime);
  transform: scale(0.98);
  transition: 0.3s;
}
.slider .slide__button {
  color: var(--contrastColorBlack);
  transition: var(--transitionTime);
  background: none;
  border: 2px solid var(--contrastColorWhite);
  font-family: "Spectral SC";
  margin: 3vh 0 0;
  padding: 5px 20px;
  text-transform: uppercase;
}

.slider__slide-active .slide__image {
  animation: slideActive 0.6s forwards;
  animation-delay: 0.2s;
  display: block;
  opacity: 0;
  transform: translateY(0);
}

.slider__slide-active .slide__name {
  display: block;
}

@keyframes slideActive {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.arrows {
  bottom: 40vh;
  display: flex;
  justify-content: space-between;
  margin-left: 8.5%;
  position: absolute;
  width: 83%;
  z-index: 2;
}
.arrows .arrows__arrow {
  align-items: center;
  border: 3px solid var(--contrastColorWhite);
  display: flex;
  justify-content: center;
  transform: rotate(45deg);
  transition: var(--transitionTime), transform 0.3s;
  width: 3.2%;
}
.arrows .arrows__arrow:hover {
  background: var(--mainColor);
  transition: var(--transitionTime);
  transform: scale(0.9) rotate(45deg);
  transition: var(--transitionTime), transform 0.3s;
}
.arrows .arrow__icon {
  border: 12px solid transparent;
  border-top: 20px solid var(--mainColor);
  transition: var(--transitionTime);
}
.arrows .arrows__arrow-left {
  animation: leftArrrowShow 0.5s;
}
.arrows .arrows__arrow-left .arrow__icon {
  margin: 30% 30% 0 0;
  transform: rotate(45deg);
}
.arrows .arrows__arrow-right {
  animation: rightArrrowShow 0.5s;
}
.arrows .arrows__arrow-right .arrow__icon {
  margin: 0 0 30% 30%;
  transform: rotate(225deg);
}
.arrows .arrows__arrow:hover .arrow__icon {
  border-top-color: var(--contrastColorWhite);
  transition: var(--transitionTime);
}
@keyframes leftArrrowShow {
  from {
    opacity: 0;
    transform: translateX(-200%) rotate(45deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotate(45deg);
  }
}
@keyframes rightArrrowShow {
  from {
    opacity: 0;
    transform: translateX(200%) rotate(45deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotate(45deg);
  }
}

.content {
  background: var(--contrastColorBlack);
  transition: var(--transitionTime);
  overflow: hidden;
  position: absolute;
}

.bg {
  align-items: flex-end;
  animation: bottomToStatic 0.5s forwards;
  bottom: 0;
  display: flex;
  position: absolute;
  width: 100%;
  z-index: 0;
}
@keyframes bgShow {}
.bg span {
  background: var(--mainColor);
  transition: var(--transitionTime);
  display: flex;
  height: 25vh;
  width: 20%;
}
.bg span:nth-child(2) {
  height: 40vh;
  width: 60%;
}

.sculpture-click {
  animation: topToStatic 0.9s forwards;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[0].use[2]!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./sculptures/scss/adap/adap-sculptures.scss (2) ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
html {
  --mainColor: #ffc700;
  --contrastColorBlack: #080808;
  --contrastColorWhite: #fff;
  --transitionTime: 0;
}

@keyframes increase {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes reduction {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes leftToStatic {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes rightToStatic {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes topToStatic {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes bottomToStatic {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@media screen and (min-width: 3200px) {
  .points {
    top: 2vh;
  }
  .points .point__year {
    font-size: 40px;
  }
  .points .point__icon-big {
    height: 1.5vw;
    width: 1.5vw;
  }
}
@media screen and (min-width: 2000px) and (max-width: 3200px) {
  .points .point__year {
    font-size: 32px;
  }
  .points .point__icon-big {
    height: 1.2vw;
    width: 1.2vw;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .points .point__icon {
    height: 0.9vw;
    width: 0.9vw;
  }
  .points .point__icon-big {
    height: 1.3vw;
    width: 1.3vw;
  }
  .points .point__year {
    font-size: 20px;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .slide__year-mobile {
    color: var(--contrastColorWhite);
    transition: var(--transitionTime);
    font-size: 26px;
    margin: 0;
    position: absolute;
    right: -4%;
    transform: translateY(-50%);
  }
}
@media screen and (min-width: 500px) and (max-width: 700px) {
  .slide__year-mobile {
    color: var(--contrastColorWhite);
    transition: var(--transitionTime);
    font-size: 22px;
    margin: 0;
    position: absolute;
    right: -4%;
    transform: translateY(-50%);
  }
}
@media screen and (min-width: 0) and (max-width: 500px) {
  .slide__year-mobile {
    color: var(--contrastColorBlack);
    transition: var(--transitionTime);
    font-family: "Viaoda Libre";
    font-size: 26px;
    letter-spacing: 2px;
    margin: 1vh 0 0;
    order: 2;
    position: static;
    transform: translateY(0);
  }
}
@media screen and (min-width: 0) and (max-width: 700px) {
  .points {
    display: none;
  }
}
@media screen and (min-width: 0) and (max-width: 1000px) {
  .points {
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    left: 3.3%;
    position: absolute;
    top: 0;
    width: fit-content;
  }
  .points .point__year {
    display: none;
  }
  .points .points__point {
    position: absolute;
    transform: translate(0);
  }
  .points .point__icon-big {
    height: 3vw;
    width: 3vw;
  }
  .points .point__icon-small {
    height: 2vw;
    width: 2vw;
  }
  .points .points__point-active .point__icon {
    background: var(--contrastColorBlack);
    transition: var(--transitionTime);
    transform: scale(1) rotate(45deg);
  }

  .points::after {
    height: 100%;
    position: fixed;
    top: 0 !important;
    width: 5px;
  }

  .slide__year-mobile {
    opacity: 1;
    padding: 0;
  }
}
@media screen and (min-width: 3200px) {
  .slider .slide__name {
    font-size: 160px;
    top: 16vh;
  }
}
@media screen and (min-width: 2000px) and (max-width: 3200px) {
  .slider .slide__name {
    font-size: 110px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1500px) {
  .slider .slide__name {
    font-size: 60px;
  }
  .slider .slide__image {
    height: 85vh;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .slider .slide__name {
    font-size: 45px;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .slider {
    align-items: flex-end;
  }
  .slider .slider__slide {
    margin: 4vh 0;
    padding: 5% 2%;
    width: 90%;
  }
  .slider .slider__slide .slide__image {
    height: 27vh;
    margin: -7vh 0 0;
  }
  .slider .slider__slide .slide__name {
    font-size: 36px;
    margin: 0;
    text-align: left;
    width: 85%;
  }
  .slider .slider__slide .slide__name:hover {
    color: transparent;
  }
  .slider .slider__slide .slider__text {
    margin-left: 5%;
  }
  .slider .slider__slide .slide__button {
    font-size: 21px;
    padding: 10px 32px;
  }
}
@media screen and (min-width: 500px) and (max-width: 700px) {
  .slider {
    align-items: center;
  }
  .slider .slider__slide {
    margin: 5vh 0;
    width: 97%;
  }
  .slider .slider__slide .slide__image {
    height: 27vh;
  }
  .slider .slider__slide .slide__name {
    font-size: 28px;
    letter-spacing: 2px;
    text-align: left;
    width: 85%;
  }
  .slider .slider__slide .slide__name:hover {
    color: transparent;
  }
  .slider .slider__slide .slider__text {
    margin-left: 3%;
  }
  .slider .slider__slide .slide__button {
    font-size: 18px;
    padding: 8px 26px;
  }
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  .slider .slider__slide {
    margin: 5vh 0;
    padding-bottom: 6%;
  }
  .slider .slider__slide .slide__image {
    height: 26vh;
    order: 1;
  }
  .slider .slider__slide .slider__text {
    order: 3;
  }
  .slider .slider__slide .slide__name {
    font-size: 30px;
    letter-spacing: 2px;
  }
  .slider .slider__slide .slide__name:hover {
    color: transparent;
  }
  .slider .slider__slide .slide__name,
.slider .slider__slide .slider__image {
    margin-top: 3vh;
  }
  .slider .slider__slide .slide__button {
    font-size: 22px;
    margin-top: 3vh;
    padding: 10px 28px;
  }
}
@media screen and (min-width: 0) and (max-width: 500px) {
  .slider {
    align-items: center;
  }
  .slider .slider__slide {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 98%;
  }
  .slider .slider__slide .slide__name {
    font-size: 35px;
    letter-spacing: 2px;
    margin-top: 3vh;
    text-align: center;
    width: 100%;
  }
  .slider .slider__slide .slide__button {
    margin: 3vh 0;
  }
  .slider .slider__slide .slider__text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
  }
}
@media screen and (min-width: 0) and (max-width: 300px) {
  .slider .slider__slide {
    margin: 5vh 0;
    padding-bottom: 6%;
  }
  .slider .slider__slide .slide__image {
    height: 20vh;
    order: 1;
  }
  .slider .slider__slide .slider__text {
    order: 3;
  }
  .slider .slider__slide .slide__name {
    color: var(--contrastColorWhite);
    transition: var(--transitionTime);
    font-size: 20px;
    letter-spacing: 2px;
  }
  .slider .slider__slide .slide__name,
.slider .slider__slide .slider__image {
    margin-top: 3vh;
  }
  .slider .slider__slide .slide__button {
    font-size: 20px;
    margin-top: 3vh;
    padding: 6px 22px;
  }
}
@media screen and (min-width: 0) and (max-width: 1000px) {
  .content {
    overflow: auto;
  }

  .bg,
.arrows {
    display: none;
  }

  .slider {
    flex-direction: column;
    margin-left: 5%;
    margin-top: 4vh;
    position: static;
    width: 90%;
  }
  .slider .slider__slide {
    background: var(--mainColor);
    transition: var(--transitionTime);
    box-sizing: border-box;
    justify-content: flex-start;
    padding: 3% 2%;
    transform: translateX(-150%);
    word-wrap: break-word;
  }
  .slider .slider__slide .slider__text {
    position: static;
  }
  .slider .slider__slide .slide__name {
    position: static !important;
    -webkit-text-stroke-width: 1px;
  }
  .slider .slider__slide .slide__name,
.slider .slider__slide .slider__image {
    display: block !important;
    opacity: 1 !important;
  }
  .slider .slider__slide .slide__image {
    display: block;
    margin: -7vh 0 0;
    opacity: 1;
  }
  .slider .slider__slide-mobile-anim {
    animation: test 0.7s forwards;
  }
  @keyframes test {
    from {
      transform: translateX(-150%);
    }
    to {
      transform: translateX(0);
    }
  }
}
